.highlight {
    .btn {
        height: 48px;
    }

    .rounded {
        border-radius: 0.5rem !important;
    }
    
    .image {
        height: 200px;
        img {
            max-height: 100%;
            max-width: 100%;
        }
    }
}

@include media-breakpoint-down (sm) {
    .highlight {
        .image {
            height: auto;
        }
    }
}