.search {
    .text-header {
        font-size: 2.5rem;
    }

    .rounded {
        border-radius: 0.5rem !important;
    }
    
    .box-title {
        font-size: 1.375rem;
    }

    .calendar {
        position: relative;
    }

    .icon {
        position: absolute;
        top: 0.7rem;
        right: 1rem;
    }

    .input-group-text {
        background-color: white;
    }

    .btn-outline-light {
        border: 1px solid #ced4da;
        color: #495057;
        &.active  {
            background-color: $red !important;
            color: white !important;
            border: 1px solid #ced4da !important;
        }
    }

    .dropdown-toggle::after {
        display: none;
    }

    .btn-danger {
        height: 45px;
    }
}

@include media-breakpoint-down (sm) {
    .search {
        .text-header {
            font-size: 1.25rem;
        }
    }
}