@import 'web/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import '~flickity/dist/flickity.min.css';
@import "~toastr/toastr";
@import "~jquery-datetimepicker/jquery.datetimepicker.css";

// *SASS File*
@import 'web/navbar';
@import 'web/footer';
@import 'fontweight';

// Components

// Home
@import 'web/home/search';
@import 'web/home/products';
@import 'web/home/procedure';
@import 'web/home/news';
@import 'web/home/sponsors';

// Category


// Content


@font-face{
    font-family: 'Montserrat';
    src:url(fonts/Montserrat/Montserrat-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat';
    src:url(fonts/Montserrat/Montserrat-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Montserrat';
    src:url(fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat';
    src:url(fonts/Montserrat/Montserrat-RegularItalic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Montserrat';
    src:url(fonts/Montserrat/Montserrat-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat';
    src:url(fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat';
    src:url(fonts/Montserrat/Montserrat-BoldItalic.ttf) format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Montserrat';
    src:url(fonts/Montserrat/Montserrat-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

body {
    background-color: $body-bg;
}

.container {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.bg-center {
    background-position: center;
}

.bg-cover {
    background-size: cover;
}

.bg-repeat {
    background-repeat: no-repeat;
}

// .bg-overlay {
//     background-color: rgba($dark, 0.8);
// }

.bg-overview {
    background-color: #33475B;
}

.header {
    position: relative;
    height: auto; //91vh
}

h1 {
    font-size: 1.875rem; //30px
}

h2 {
    font-size: 1.125rem; //18px
}

h3 {
    font-size: 1.0625rem; //17px
}

h4 {
    font-size: 0.9375rem; //15px
}

h5 {
   font-size: 0.875rem; //14px;
}

small {
    font-size: 0.75rem; //12px;
}

a:hover {
    text-decoration: none;
}

.bg-gray {
    background-color: #f1f1f1;
}

.bg-gradient-danger {
    background: #E1341E linear-gradient(90deg, #e1341e, #AC2515) repeat-x !important;
    &:hover {
        background: #AC2515 linear-gradient(90deg, #AC2515, #e1341e) repeat-x !important;
    }
}

.btn-more {
    height: 48px;
    width: 135px;
}