.footer {
    a {
        color: white;
        &:hover {
            color: $black;
        }

        .icon {
            font-size: 1.15rem;
            height: 36px;
            width: 36px;
        }
    }

    .copyright {
        font-size: 13px;
    }
}
