// SECTION NAVBAR

.navbar {
    img {
        height: 65px;
    }

    .btn {
        height: 45px;
    }

    .btn-danger {
        font-size: 0.9375rem;
    }

    .nav-item {
        .nav-link {
            font-size: 0.9375rem;
        }
    }

    .navbar-collapse {
        flex-grow: 0;
    }
}

@include media-breakpoint-up (lg) {
    .navbar {
        .dropdown-menu {
            box-shadow: 0 0.5rem 1rem rgba(49, 49, 49, 0.15);
        }
    }
}