// Body
$body-bg: #ffffff;
// $gray-bg: #E5E5E5;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
// $font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$black: #313131 !default;
$light: #F5F5F5 !default;
// $dark: #2E4053 !default;
$body-color: #424242 !default;

// $yellow: #EC9128;
$red: #E1341E;
// $cyan: #00A99D;

$text-muted: #b2b2b2 !default;
// $light: #E5E5E5 !default;

$navbar-light-hover-color: rgba($red, 1) !default;
$navbar-light-color: rgba($black, 1) !default;

$dropdown-link-color: $black !default;
$dropdown-link-hover-color: rgba($red, 1) !default;

$enable-gradients: true !default;
// $grid-gutter-width: 15px !default;